.Footer{    
    background-color: black;
    color: white;
   font-family: sans-serif;
}

.container-footer{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    height: auto;
    margin: 0 auto; 
    justify-items: center; 
    align-items: center; 
     

}
.coluna-nav {
  grid-column: 1;
  height: 100px;
}

.coluna-footer{
  grid-column: 2;
  height: 100px;

}

.contato-footer {
  grid-column: 3;
  height: 100px;
}

.rede-footer{
 grid-column: 4;
 height: 100px;
}
.footer-title{
    margin:10px 0 5px 0;
    font-size: 14px;
    color: #FFF;
    text-transform: uppercase;
}

ul{
    list-style: none;
    line-height: 20px;
}

li{
    display: list-item;
    padding-left:0.5rem ;
}

.footer-payship-img {
    height: 26px;
}

.card-img {
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}

 a{
text-decoration: none;
cursor: pointer;
color: #fff;
padding-left: 0.5rem;
}